
#main {
   text-align: center;
}

.unsupported {
   font-family: Helvetica;
   color: #F44;
}

table {
   width: 75%;
   margin: 1.5em auto 1.5em auto;
   text-align: center;
   font-family: Helvetica;
   color: #A98;
}
#planicanvas{ 
  width: 44%;
  height:44%;